@import '../variables.css';

.root {
  background: black;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 15px 8px;
  max-width: var(--max-content-width);
  font-size: 1.5em; /* ~24px */
  display: flex;
  justify-content: space-between;
}

.link,
.link:active,
.link:hover,
.link:visited {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.spacer {
  padding-right: 15px;
  padding-left: 15px;
}

.searchInput {
  padding: 5px 20px;
  font-size: 0.8em;
}
